@model List<Category>;

<h>Category</h>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var category in Model) {
        <tr>
            <td>
                @category.CategoryId
            </td>
            <td>
                @category.CategoryName
            </td>
            <td>
                @category.Description
            </td>
            <td>
                Update Delete
            </td>
        </tr>
    }
  </tbody>
</table>
